.gk8rDe .zfr3Q{
	color: rgba(0,0,0,1);

}

.zfr3Q{
	color: rgba(33,33,33,1);
	 font-family: "Source Sans Pro", sans-serif;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 1.75;
	 padding-top: 15px;

}
.M63kCb{
	background-color: rgba(255,255,255,1);

}

.duRjpb{
	color: rgba(33,33,33,1);
	 font-family: Quicksand, sans-serif;
	 font-size: 38px;
	 font-weight: 400;
	 letter-spacing: -1px;
	 line-height: 1.44;
	 padding-top: 25px;
	}

.JYVBee{
	color: rgba(33,33,33,1);
	 font-family: Quicksand, sans-serif;
	 font-size: 26px;
	 font-weight: 400;
	 line-height: 1.56;
	 padding-top: 10px;
}
.OmQG5e{
	color: rgba(33,33,33,1);
	 font-family: "Source Sans Pro", sans-serif;
	 font-size: 17px;
	 font-weight: 600;
	 line-height: 1.75;
	 padding-top: 16px;
}

.qeLZfd .zfr3Q{
	color: rgba(33,33,33,1);
}

.qeLZfd .dhtgD:hover{
	color: rgba(33,33,33,0.8500000238);
}

.qeLZfd .iwQgFb{
	background-color: rgba(0,0,0,0.150000006);
}

.qeLZfd:before{
	background-color: rgba(225,223,219,1);
	display: block;
	}

.lQAHbd .zfr3Q{
	color: rgba(225,223,219,1);
}

.lQAHbd .duRjpb{
	color: rgba(187,183,175,1);
}

.lQAHbd .JYVBee{
	color: rgba(187,183,175,1);
}

.lQAHbd .OmQG5e{
	color: rgba(187,183,175,1);
}

.lQAHbd .dhtgD:hover{
	color: rgba(255,255,255,0.5);
}

.lQAHbd .iwQgFb{
	background-color: rgba(255,255,255,0.150000006);
}

.lQAHbd:before{
	background-color: rgba(48,48,51,1);
	display: block;
}

.cJgDec .zfr3Q{
	color: rgba(225,223,219,1);

}
.cJgDec .IFuOkc:before{
	background-color: rgba(33,33,33,1);
	 opacity: 0;
	 display: block;

	}
	.O13XJf{
	height: 360px;
	 padding-bottom: 60px;
	 padding-top: 60px;

	}
	.O13XJf .IFuOkc{
	background-color: rgba(48,48,51,1);
	 background-image: url(https://ssl.gstatic.com/atari/images/label-maker-header-cropped.jpg);

	}
	.nyKByd.O13XJf .IFuOkc:after{
	background-color: transparent;
	 opacity: 0.3;
	 display: block;

	}
	.O13XJf .IFuOkc:before{
	background-color: rgba(33,33,33,1);
	 opacity: 0.5;
	 display: block;

	}
	.O13XJf .zfr3Q{
	color: rgba(255,255,255,1);

}
.O13XJf .lkHyyc:before{
	border-color: rgba(255,255,255,1);
	 border-radius: 0px;
	 border-style: solid;
	 border-width: 2px;
	 display: block;

	}
	.tpmmCb .zfr3Q{
	color: rgba(48,48,51,1);

}
.tpmmCb .IFuOkc:before{
	background-color: rgba(255,255,255,1);
	 display: block;

	}
	.tpmmCb .lkHyyc:before{
	border-color: rgba(48,48,51,1);
	 display: block;

	}
	.dhtgD:hover{
	color: rgba(33,33,33,0.6999999881);

}
.dhtgD:active{
	color: rgba(33,33,33,0.6999999881);

}
.Hnbbrb{
	color: rgba(192,189,184,1);
	 font-family: Quicksand, sans-serif;
	 font-size: 17px;
	 font-weight: 700;
	 padding-bottom: 40px;
	 padding-top: 15px;

	}
	.Zjiec{
	color: rgba(192,189,184,1);
	 font-family: Quicksand, sans-serif;
	 font-size: 26px;
	 font-weight: 300;
	 letter-spacing: 0px;
	 line-height: 1.33;
	 padding-bottom: 24px;
	 padding-left: 48px;
	 padding-right: 24px;
	 padding-top: 13px;

	}
	.XMyrgf{
	margin-top: 0px;
	 margin-left: 48px;
	 margin-bottom: 24px;
	 margin-right: 24px;

	}
	.TlfmSc{
	color: rgba(255,255,255,1);
	 font-family: Quicksand, sans-serif;
	 font-size: 24px;
	 font-weight: 300;
	 letter-spacing: 0px;

	}
	.Mz8gvb{
	color: rgba(255,255,255,1);

}
.zDUgLc{
	background-color: rgba(27,27,27,1);

}
.QTKDff.chg4Jd:focus{
	background-color: rgba(255,255,255,0.1199999973);

}
.YTv4We{
	color: rgba(192,189,184,1);

}
.YTv4We:hover:before{
	background-color: rgba(255,255,255,0.1199999973);
	 display: block;

	}
	.YTv4We.chg4Jd:focus:before{
	border-color: rgba(255,255,255,0.3600000143);
	 display: block;

	}
	.JzO0Vc{
	background-color: rgba(27,27,27,1);

}
.eWDljc{
	background-color: rgba(27,27,27,1);

}
.eWDljc .hDrhEe{
	padding-left: 8px;

}
.PsKE7e{
	color: rgba(189,189,189,1);
	 font-family: "Source Sans Pro", sans-serif;
	 font-size: 14px;
	 font-weight: 400;

	}
	.lhZOrc{
	background-color: rgba(58,57,56,1);
	 color: rgba(225,223,219,1);
	 font-weight: 700;

	}
	.hDrhEe:hover{
	color: rgba(255,255,255,1);

}
.M9vuGd{
	color: rgba(225,223,219,1);
	 font-weight: 700;

	}
	.jgXgSe:hover{
	color: rgba(255,255,255,1);

}
.j10yRb:hover{
	color: rgba(255,255,255,1);

}
.j10yRb.chg4Jd:focus:before{
	border-color: rgba(255,255,255,0.3600000143);
	 display: block;

	}
	.fOU46b .TlfmSc{
	color: rgba(255,255,255,1);

}
.fOU46b .Mz8gvb{
	color: rgba(255,255,255,1);

}
.fOU46b .qV4dIc{
	color: rgba(255,255,255,0.8700000048);

}
.fOU46b .jgXgSe:hover{
	color: rgba(255,255,255,1);

}
.fOU46b .M9vuGd{
	color: rgba(255,255,255,1);

}
.fOU46b .G8QRnc .Mz8gvb{
	color: rgba(0,0,0,0.8000000119);

}
.fOU46b .G8QRnc .TlfmSc{
	color: rgba(0,0,0,0.8000000119);

}
.fOU46b .G8QRnc .qV4dIc{
	color: rgba(0,0,0,0.6399999857);

}
.fOU46b .G8QRnc .jgXgSe:hover{
	color: rgba(0,0,0,0.8199999928);

}
.fOU46b .G8QRnc .M9vuGd{
	color: rgba(0,0,0,0.8199999928);

}
.fOU46b .zDUgLc{
	opacity: 0;

}
.eBSUbc{
	background-color: rgba(27,27,27,1);
	 color: rgba(255,255,255,0.6999999881);

	}
	.BFDQOb:hover{
	color: rgba(225,223,219,1);

}
.ImnMyf{
	background-color: rgba(255,255,255,1);
	 color: rgba(33,33,33,1);

	}
	.Vs12Bd{
	background-color: rgba(225,223,219,1);
	 color: rgba(33,33,33,1);

	}
	.S5d9Rd{
	background-color: rgba(48,48,51,1);
	 color: rgba(225,223,219,1);

	}
	.zfr3Q{
	font-family: "Source Sans Pro", sans-serif;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 1.75;
	 padding-top: 15px;

	}
	.duRjpb{
	font-family: Quicksand, sans-serif;
	 font-size: 38px;
	 font-weight: 400;
	 letter-spacing: -1px;
	 line-height: 1.44;
	 padding-top: 25px;

	}
	.JYVBee{
	font-family: Quicksand, sans-serif;
	 font-size: 26px;
	 font-weight: 400;
	 line-height: 1.56;
	 padding-top: 10px;

	}
	.OmQG5e{
	font-family: "Source Sans Pro", sans-serif;
	 font-size: 17px;
	 font-weight: 600;
	 line-height: 1.75;
	 padding-top: 16px;

	}
	.n8H08c{
	padding-left: 20px;
	 padding-top: 8px;

	}
	.TYR86d{
	margin-bottom: 6px;
	 margin-top: 6px;
	 padding-top: 0;

	}
	.A3Upc{
	font-size: 11px;
	 line-height: 1.81;
	 padding-top: 14px;

	}
	.LB7kq .duRjpb{
	font-size: 72px;
	 font-weight: 300;
	 letter-spacing: -0.5px;
	 line-height: 1.11;
	 padding-top: 35px;
	 text-align: center;

	}
	.LB7kq .lkHyyc{
	padding-bottom: 44px;
	 padding-left: 56px;
	 padding-right: 56px;
	 padding-top: 44px;

	}
	@media only screen and (min-width: 480px) and (max-width: 767px){
	.LB7kq .lkHyyc{
	padding-bottom: 30px;
	 padding-top: 30px;

}

	}
	@media only screen and (max-width: 479px){
	.LB7kq .lkHyyc{
	padding-bottom: 20px;
	 padding-left: 10px;
	 padding-right: 10px;
	 padding-top: 20px;

}

	}
	.LB7kq .JYVBee{
	font-size: 50px;
	 font-weight: 400;
	 letter-spacing: -1px;
	 line-height: 1.11;
	 padding-top: 20px;

	}
	@media only screen and (max-width: 479px){
	.LB7kq .duRjpb{
	font-size: 47px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.LB7kq .duRjpb{
	font-size: 61px;
}
}
@media only screen and (max-width: 479px){
	.LB7kq .JYVBee{
	font-size: 35px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.LB7kq .JYVBee{
	font-size: 43px;
}
}
.O13XJf{
	height: 360px;
	 padding-bottom: 60px;
	 padding-top: 60px;

	}
	@media only screen and (min-width: 480px) and (max-width: 767px){
	.O13XJf{
	height: 320px;
	 padding-bottom: 60px;
	 padding-top: 60px;

}

	}
	@media only screen and (max-width: 479px){
	.O13XJf{
	height: 250px;
	 padding-bottom: 55px;
	 padding-top: 55px;

}

	}
	.SBrW1{
	height: 540px;

}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.SBrW1{
	height: 540px;
}
}
@media only screen and (max-width: 479px){
	.SBrW1{
	height: 400px;
}
}
.gk8rDe{
	height: 200px;
	 padding-bottom: 46px;
	 padding-top: 60px;

	}
	.gk8rDe .duRjpb{
	color: rgba(33,33,33,1);
	 font-size: 54px;

	}
	.gk8rDe .JYVBee{
	color: rgba(33,33,33,1);
	 font-size: 36px;
	 line-height: 1.35;
	 padding-top: 10px;

	}
	.gk8rDe .OmQG5e{
	color: rgba(33,33,33,1);

}
.gk8rDe .lkHyyc{
	padding-bottom: 0;
	 padding-top: 0;

	}
	@media only screen and (max-width: 479px){
	.gk8rDe .duRjpb{
	font-size: 37px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.gk8rDe .duRjpb{
	font-size: 46px;
}
}
@media only screen and (max-width: 479px){
	.gk8rDe .JYVBee{
	font-size: 27px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.gk8rDe .JYVBee{
	font-size: 32px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.gk8rDe{
	padding-top: 45px;
}
}
@media only screen and (max-width: 479px){
	.gk8rDe{
	padding-bottom: 0px;
	 padding-top: 30px;

}

	}
	.dhtgD{
	text-decoration: underline;

}
@media only screen and (min-width: 1336px){
	.JzO0Vc{
	border-color: rgba(0,0,0,0.150000006);
	 border-right-style: solid;
	 border-right-width: 1px;
	 padding-top: 57px;
	 width: 256px;

}

	}
	.Zjiec{
	font-family: Quicksand, sans-serif;
	 font-size: 26px;
	 font-weight: 300;
	 letter-spacing: 0px;
	 line-height: 1.33;
	 padding-bottom: 24px;
	 padding-left: 48px;
	 padding-right: 24px;
	 padding-top: 13px;

	}
	.TlfmSc{
	font-family: Quicksand, sans-serif;
	 font-size: 24px;
	 font-weight: 300;
	 letter-spacing: 0px;

	}
	.PsKE7e{
	font-family: "Source Sans Pro", sans-serif;
	 font-size: 14px;

	}
	.IKA38e{
	line-height: 1.42;

}
@media only screen and (min-width: 1336px){
	.IKA38e{
	padding-left: 36px;
}
}
.hDrhEe{
	padding-bottom: 13px;
	 padding-top: 13px;

	}
	.hDrhEe.chg4Jd:focus{
	background-color: rgba(48,255,255,0.0599999987);

}
.qV4dIc{
	border-radius: 4px;

}
.lhZOrc{
	font-weight: 700;

}
.zDUgLc{
	opacity: 1;

}
.iwQgFb{
	height: 3px;
	 margin-top: 8px;

	}
	.LBrwzc .TlfmSc{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .Hnbbrb{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .YTv4We{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .Mz8gvb{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .qV4dIc{
	color: rgba(0,0,0,0.6399999857);

}
.LBrwzc .M9vuGd{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .Zjiec{
	color: rgba(0,0,0,0.6399999857);

}
.LBrwzc .IKA38e{
	color: rgba(0,0,0,0.6399999857);

}
.LBrwzc .lhZOrc.IKA38e{
	color: rgba(255,255,255,0.6399999857);

}
.LBrwzc .lhZOrc.IKA38e .hDrhEe:hover{
	color: rgba(255,255,255,0.8000000119);

}
.LBrwzc .eBSUbc{
	color: rgba(0,0,0,0.6399999857);

}
.LBrwzc .hDrhEe:hover{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .jgXgSe:hover{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .M9vuGd:hover{
	color: rgba(0,0,0,0.8000000119);

}
.LBrwzc .zDUgLc{
	border-bottom-color: rgba(204,204,204,1);
	 border-bottom-width: 1px;
	 border-bottom-style: solid;

	}
	.GBy4H .Mz8gvb{
	color: rgba(255,255,255,1);

}
.fOU46b .LBrwzc .zDUgLc{
	opacity: 1;

}
.fOU46b .GBy4H .zDUgLc{
	opacity: 1;

}
.QcmuFb{
	padding-left: 20px;

}
.vDPrib{
	padding-left: 40px;

}
.TBDXjd{
	padding-left: 60px;

}
.bYeK8e{
	padding-left: 80px;

}
.CuqSDe{
	padding-left: 100px;

}
.Havqpe{
	padding-left: 120px;

}
.JvDrRe{
	padding-left: 140px;

}
.o5lrIf{
	padding-left: 160px;

}
.yOJW7c{
	padding-left: 180px;

}
.rB8cye{
	padding-left: 200px;

}
.RuayVd{
	padding-right: 20px;

}
.YzcKX{
	padding-right: 40px;

}
.reTV0b{
	padding-right: 60px;

}
.vSYeUc{
	padding-right: 80px;

}
.PxtZIe{
	padding-right: 100px;

}
.ahQMed{
	padding-right: 120px;

}
.rzhcXb{
	padding-right: 140px;

}
.PBhj0b{
	padding-right: 160px;

}
.TlN46c{
	padding-right: 180px;

}
.GEdNnc{
	padding-right: 200px;

}
@media only screen and (min-width: 1336px){
	.yxgWrb{
	margin-left: 256px;
}
}
.TYR86d>.n8H08c{
	margin-top: 6px;

}
@media only screen and (max-width: 479px){
	.duRjpb{
	font-size: 28px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.duRjpb{
	font-size: 34px;
}
}
@media only screen and (max-width: 479px){
	.JYVBee{
	font-size: 22px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.JYVBee{
	font-size: 24px;
}
}
@media only screen and (max-width: 479px){
	.OmQG5e{
	font-size: 17px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.OmQG5e{
	font-size: 17px;
}
}
@media only screen and (max-width: 479px){
	.Hnbbrb{
	font-size: 17px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.Hnbbrb{
	font-size: 17px;
}
}
@media only screen and (max-width: 479px){
	.Zjiec{
	font-size: 22px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.Zjiec{
	font-size: 24px;
}
}
@media only screen and (max-width: 479px){
	.TlfmSc{
	font-size: 20px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.TlfmSc{
	font-size: 22px;
}
}
@media only screen and (max-width: 479px){
	.PsKE7e{
	font-size: 14px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.PsKE7e{
	font-size: 14px;
}
}
@media only screen and (max-width: 479px){
	.duRjpb{
	font-size: 28px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.duRjpb{
	font-size: 34px;
}
}
@media only screen and (max-width: 479px){
	.JYVBee{
	font-size: 22px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.JYVBee{
	font-size: 24px;
}
}
@media only screen and (max-width: 479px){
	.OmQG5e{
	font-size: 17px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.OmQG5e{
	font-size: 17px;
}
}
@media only screen and (max-width: 479px){
	.A3Upc{
	font-size: 11px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.A3Upc{
	font-size: 11px;
}
}
@media only screen and (max-width: 479px){
	.Zjiec{
	font-size: 22px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.Zjiec{
	font-size: 24px;
}
}
@media only screen and (max-width: 479px){
	.TlfmSc{
	font-size: 20px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.TlfmSc{
	font-size: 22px;
}
}
@media only screen and (max-width: 479px){
	.PsKE7e{
	font-size: 14px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px){
	.PsKE7e{
	font-size: 14px;
}}